<div class="row">
  <div class="row" style="margin-top:50px;max-height:50px;">
      <div class="col-lg-12">
          <div class="well" style="padding-bottom:80px;">
              <h4 style="color:blue;">Barclays Potential Objections Portal</h4>
              <h5><p style="color:blue;">Welcome to Barclays Potential Objections Portal</p></h5>
              <h5><p style="color:blue;">Due to forthcoming changes to regulation across the UK Banking industry, Barclays Ple will be applying to the court for a transfer mechanism to adhere to the FCA and PRA guidelines and regulatory chnages,
              the RFTS (Ring Fenced Transfer Scheme) will be utilize to segregate and product business in occordance with the BRA legislation and protect the future economy from recurring risks as seen in the financial crisis of 2007/8.</p></h5>
              <div>
                <div class="col-lg-4" style="text-align:center;cursor:pointer;" ng-click="showQuestion()"><i class="fa fa-question-circle" style="font-size:40px;color:blue;"></i>
                  <h6 style="text-align:center;color:blue;"><i>I have a Question</i></h6>
                </div>
                <div class="col-lg-4" style="text-align:center;cursor:pointer;" ng-click="showInfomation()"><i class="fa fa-info-circle" style="font-size:40px;color:blue;"></i>
                  <h6 style="text-align:center;color:blue;">I need more info</h6>
                </div>
                <div class="col-lg-4" style="text-align:center;"><i class="fa fa-ban" style="font-size:40px;color:blue;"></i>
                  <h6 style="text-align:center;color:blue;">I want to raise and objection</h6>
                </div>
              </div>
          </div>
          <div class="well" ng-show="isShow">
            <h4 style="text-align:center;">Content for Questions</h4>
            <div style="text-align:center;">
              <input type="text" style="width:35%;" />
              <a href="#">
                <i class="fa fa-search" id="myimage"></i>
              </a>
            </div>
          </div>

          <div class="well" ng-show="isShowInfo">
            <h4 style="text-align:center;">Content for FaQ's</h4>
            <iframe width="500" height="400" name="{{frameName}}" ng-src="https://www.google.com"></iframe>
          </div>

      </div>
      <!-- /.col-lg-4 -->
  </div>
</div>
